.japan{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.japan__title-section{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-xl);
    gap: 1rem;
    color: var(--colour-text);
    background-color:var(--colour-secondary);
}
.japan__intro-section{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 1rem;
    color: var(--colour-secondary);
    background-color: var(--colour-cta);
}
.japan__intro-section>div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.japan__reasons-section{
    width: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--colour-quinary);
    background-color: var(--colour-text);
}
.japan__reasons-section>div:last-child{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.japan__courses-section{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--colour-text);
    background-color: var(--colour-quinary);
}

.japan__courses-section>div:last-child>div{
display: flex;
flex-direction: column;
gap: 1rem;
}
.japan__courses-section ul{
    list-style: inside square;
}